### General ################################################

# Non root user and group identifier
PUID=1000
PGID=1000

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### WORKSPACE #############################################

WORKSPACE_TIMEZONE=UTC

### PHP_FPM ###############################################

PHP_FPM_INSTALL_XDEBUG=false
PHP_FPM_INSTALL_OPCACHE=false

### NGINX #################################################

NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./nginx/ssl/

### MYSQL #################################################

MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./docker/database/docker-entrypoint-initdb.d

### REDIS #################################################

REDIS_PASSWORD=secret