version: '3.7'

# Define services
services:

  ### Workspace Container ###############################
  workspace:
    volumes:
      - ./src:/home/app/src:delegated
      
  ### Database Container #################################
  database:
    ports:
      - 3396:3306

  ### Redis Container #########################################
  redis:
    ports:
      - 6399:6379

  ### Nginx Container ###############################
  nginx:
    volumes:
      - ./src/vendor:/var/www/html/vendor:cached
      - ./src/node_modules:/var/www/html/node_modules:cached
      - lldockerpet-appcode-native-osx-sync:/var/www/html:nocopy
    ports:
      - 8090:80
      - 4493:443

  ### PHPFPM Container ###############################
  phpfpm:
    volumes:
      - ./src/vendor:/var/www/html/vendor:cached
      - ./src/node_modules:/var/www/html/node_modules:cached
      - lldockerpet-appcode-native-osx-sync:/var/www/html:nocopy
    ports:
      - 9000

  ### PHP Worker Container ###############################
  worker:
    volumes:
      - ./src/vendor:/var/www/html/vendor:cached
      - ./src/node_modules:/var/www/html/node_modules:cached
      - lldockerpet-appcode-native-osx-sync:/var/www/html:nocopy
    ports:
      - 9006:9001

# that the important thing
volumes:
  lldockerpet-appcode-native-osx-sync:
    external: true